<app-header></app-header>
  
<div class="home">
  <div class="counters">
    <p>Próximos eventos: {{ upcomingEventsCount }}</p>
    <p>Eventos Passados não Finalizados: {{ pastUnfinishedEventsCount }}</p>
    <p>Eventos Passados Finalizados: {{ pastFinishedEventsCount }}</p>
  </div>
  
  <mat-card class="new-event-card">
    <mat-card-title class="new-event-card-title">Registrar Evento</mat-card-title>
    <mat-card-content>
      <div class="date-text-container">
        <mat-form-field appearance="fill" class="title">
          <mat-label>Título</mat-label>
          <input matInput id="title" [(ngModel)]="newEvent.title">
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill" class="description">
        <mat-label>Descrição</mat-label>
        <input matInput id="description" [(ngModel)]="newEvent.description">
      </mat-form-field>
  
      <div class="date-time-container">
        <mat-form-field appearance="fill" class="date-field">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker" id="date" [(ngModel)]="newEvent.date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  
        <div class="time-field">
          <div class="time-picker-wrapper">
            <igx-time-picker [(ngModel)]="newEvent.time"></igx-time-picker>
          </div>
        </div>
      </div>
  
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="createEvent()">Registrar Evento</button>
      </div>
    </mat-card-content>
  </mat-card>    

  <div *ngIf="events.length === 0">
    <p>Nenhuma próxima atividade registrada na Agenda</p>
  </div>

  <div *ngIf="events.length > 0" class="event-div">
    <mat-card class="event-card" *ngFor="let event of events">
      <mat-card-title class="event-title">
        {{ event.title }} 
        <span class="event-date-time">{{ getFormattedDateTime(event) }}</span>
      </mat-card-title>
      <mat-card-subtitle class="event-description">{{ event.description }}</mat-card-subtitle>
      <mat-card-footer class="event-details">
        <div class="share-button">
          <button mat-raised-button color="primary" (click)="shareEvent(event.id)">Compartilhar evento</button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  
</div>
  